@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700');
*{
    color: white ;
}

body{
    height: 100vh;
    background-color:rgb(143, 173, 199);
    text-align: center;
}

#foto{
    width: 200px;
    border-radius: 50%;
    border: 5px rgb(111, 107, 196) solid;
}


#nome{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;    
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.titles{
    
    text-align: center;
    font-family: 'Lato', sans-serif;  
    font-weight: bold;

}

.informacoes{

 font-family: 'Lato', sans-serif; 
 font-weight: 400; 

}
button{
background-color: blueviolet;

}



